// @use "./mixins";

$white: #FFFFFF;
$green: #C6C9A5;
$light-gray: #F6F6F6;
$dark-gray: #A2A2A2;
$black: #181818;
$dark-green: #A1A483;
$light-blue: #B7D1D1;
$more-light-blue: #DCEEEE;
$orange: #FF7114;
$light-green: #E1E4C2;
$black: #000;

$main-font-size: 17;
$containerWidth: 1256;
$side-padding-container: 25;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1256;
$containerPadding: 25;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;