/* #region Модулі*/

.big-title-description {}

.new-collection {
    font-size: toRem(14);
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: toRem(1.35);
}

.big-title {}

.btn {
    @include adaptiveValue("font-size", 17, 12, 0, 1400, 320);
    background-color: $black;
    color: $white;
    font-weight: 500;
    padding: toRem(13) toRem(40);
    border-radius: toRem(44);
    letter-spacing: toRem(4);
    text-transform: uppercase;
    transition: all 0.3s ease;
    line-height: 1.2;
}

.btn:hover {
    border-radius: toRem(15);
}

/*#endregion Модулі*/

.hero {
    @include adaptiveValue("margin-top", 79, 52, 0, 600, 375);

    &__container {
        @include adaptiveValue("padding-top", 46, 0, 0, 1400, 320);
        @include adaptiveValue("padding-bottom", 46, 16, 0, 1400, 320);
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__content-text {
        background-color: $light-gray;
        @include adaptiveValue("padding-left", 79, 23, 0, 1400, 320);
        @include adaptiveValue("padding-top", 125, 28, 0, 1400, 320);
        padding-right: toRem(42);
        padding-bottom: toRem(38);

        .hero__label:not(:last-child){
            @include adaptiveValue("margin-bottom", 13, 8, 0, 1400, 600);
        }

        .text-content-hero{
            @include adaptiveValue("max-width", 410, 250, 0, 1400, 320);
        }

        .hero-title {
            @include adaptiveValue("font-size", 70, 40, 0, 1400, 320);
            font-weight: 700;
            line-height: 1.1;
        }
        
        .hero-title:not(:last-child) {
            @include adaptiveValue("margin-bottom", 22, 12, 0, 1400, 320);
        }

        .hero-title-description {
            font-size: toRem(18);
            font-weight: 400;
            line-height: 1.5;
        }

        .text-content-hero:not(:last-child) {
            @include adaptiveValue("margin-bottom", 34, 15, 0, 1400, 320);
        }
    }

    &__btn {
        display: flex;
        @include adaptiveValue("width", 196, 144, 0, 1400, 320);
        @include adaptiveValue("height", 50, 35, 0, 1400, 320);
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        line-height: 1.5;
    }

    &__content-img {
        position: relative;
        height: auto;
    }

    &__content-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // &__content-img ::before{
    //     content: "";
    //     position: absolute;
    // }

    .plus{
        position: absolute;
        @include adaptiveValue("width", 31.538, 18, 0, 1400, 320);
        @include adaptiveValue("height", 31.538, 18, 0, 1400, 320);
        transition: all 0.3s ease;
    }

    .plus:hover{
        transform: scale(1.1);
    }

    .plus-one{
        top: 20%;
        left: 60%;
    }

    .plus-two{
        right: 30%;
        bottom: 30%;
    }
}
@media(max-width: toRem(845)){
    .hero__content{
        grid-template-columns: 1fr;
    }
}